body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}
header {
	background: #35424a;
	color: #ffffff;
	padding: 15px 0;
	text-align: center;
}
#mainElement {
	width: 100%;
	margin: auto;
}
#todoListDiv {
	border-style: none solid solid solid;
	width: 50%;
	height: 600px;
	bottom: 17px;
	margin: auto;
	position: relative;
	text-align: left;
	font-size: 24px;
	display: flex;
}
#todoUL {
	list-style-type: none;
}
#addTodoButton{
	position: relative;
	left: 1350px;
	padding: 10px 17px;
	font-size: 30px;
}
.deleteButton {
	position: fixed;
	left: 1000px;
}
